#header {
  background-color: #494949;
  margin-bottom:  20px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 20px;
  margin-top: 15px;
  text-align: center;
  letter-spacing: 3px;
  color: #F9F9F9;
}

#chart {
  background-color: #F9F9F9;
  width: 90%;
  height: 35%;
  margin-right: auto;
  margin-left: 50px;
}

body {
  padding-top: 50px;
  background-color: #494949	;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}